---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

form {
    background-color: #ffffff;
}

input, textarea {
    background-color: #eee;
}

.submitbtn {
    margin-top: 10px;    
}

.grid {
  display: flex;
 }
.col-1-2 {
  flex: 1;
    text-align: center;
}
.cole-1-2:last-child {
  margin-left: 20px;
}

.feature__wrapper {
  margin-bottom: -2em;
  border-bottom: 0px;
}

.feature__item {
  margin-bottom: 1em;
}

.wide2 {
  .page {
    float: left;
    width: 100%;
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }

  .page__related {
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }
}

.btn--nav {
    margin-bottom:0;
}

@media screen and (max-width: 767px) {
    .et-info {
        display: block;
        float: none;
        text-align: center;
    }
    .et-secondary-menu {
        padding: 0;
        margin: 0;
    }
    .btn--nav {
        display: none;
    }
}


#et-info-email, #et-info-phone, #emailcontainer, .pnelink, .pnelink:hover {
    color: white;
    text-decoration: none;
}

.archive__item-body, .archive__item-title, .archive__item-excerpt {
    text-decoration: none;
    color: $text-color;
}

#ctabtn {
    
}