---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


form {
    background-color: #ffffff;
}

input, textarea {
    background-color: #eee;
}

.submitbtn {
    margin-top: 10px;    
}

.grid {
  display: flex;
 }
.col-1-2 {
  flex: 1;
    text-align: center;
}
.cole-1-2:last-child {
  margin-left: 20px;
}

.wide2 {
  .page {
    float: left;
    width: 100%;
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }

  .page__related {
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }
}
